- @blog_posts.each do |blog_post|
  .blog_post{class: "petal petal_#{blog_post.id % 5 + 1}"}
    %h1
      =link_to blog_post.title, blog_post
    .blog_body
      = Maruku.new(blog_post.body).to_html.html_safe
.blog_pagination
  = will_paginate @blog_posts, class: 'digg_pagination'
