body {
  color: #eeeeec;
  background-color: #222;
  font-size: 100%;
}

code {
  background-color: #d3d7cf;
  color: #2e3436;
  border: 1px solid #babdb6;
  padding: 2px;
}

.clear {
	clear: both;
}

.blog_header {
  margin-top: 16px;
  margin-bottom: 25px;
  text-shadow: 0 0 5px rgba(102,119,119,0.5);
  font-family: 'hyperspacebold';
}


.blog_header h1 {
  font-size: 50px;
  margin: 0;
}

.blog_header .left {
  float: left;
  margin-right: 16px;
}

.blog_header .right {
  float: right;
  margin-left: 16px;
}

.blog_header img {
  height: 100px;
}

.blog_header svg {
	height: 100px;
	width: 100px;
	-webkit-filter: drop-shadow(0 0 5px rgba(102,119,119,0.5));
	filter: drop-shadow(0 0 5px rgba(102,119,119,0.5));
}

.blog_header svg path {
	stroke-width: 10px !important;
}

.blog_header .center {
	position: absolute;
	left: 50%;
}

.blog_header .logo {
	margin-left: -50px;
}

#notice {
  padding: 16px;
  background-color: #729fcf;
  margin: 16px 0;
  border-left: 10px solid;
  border-left-color: #d3d7cf;
}

#error_explanation {
  color: #2e3436;
  background-color: #d3d7cf;
  margin: 16px 0;
  padding: 16px;
}

.field_with_errors label
{
  color: #ef2929;
}

.container, .blog_post, #disqus_thread,.blog_pagination {
  color: #333;
  background-color: #ddd;
  padding: 16px;
  margin: 16px 0;
}

.petal {
  border-top: 10px solid;
  border-top-color: #555753;
}
.petal_1 {
  border-top-color: #ef2929; /* red */
}

.petal_2 {
  border-top-color: #fcaf3e; /* orange */
}

.petal_3 {
  border-top-color: #8ae234; /* green */
}

.petal_4 {
  border-top-color: #729fcf; /* blue */
}

.petal_5 {
  border-top-color: #ad7fa8; /* purple */
}

.project {
	margin-bottom: 20px;
	height: 200px;
	background-position: center;
	background-size: cover;
}

.project a {
	text-decoration: none;
	color: #eee;
	padding: 0.5em 1em;
	display: inline-block;
	height: 100%;
	width: 100%;
	transition: color 1s;
	transition-delay: 0.5s;
}
.project .title {
	font-family: 'hyperspacebold';
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,0.5);
	margin: 0;
	padding: 0;
	transition: background-color 1s;
}

.project .title:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.project .title:hover a {
	color: #111;
}

.digg_pagination {
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #eeeeec; }

  .digg_pagination .current:nth-child(5n+0) {
    background: #ad7fa8;
    border: 1px solid #ad7fa8; }
  .digg_pagination .current:nth-child(5n+1) {
    background: #729fcf;
    border: 1px solid #729fcf; }
  .digg_pagination .current:nth-child(5n+2) {
    background: #8ae234;
    border: 1px solid #8ae234; }
  .digg_pagination .current:nth-child(5n+3) {
    background: #fcaf3e;
    border: 1px solid #fcaf3e; }
  .digg_pagination .current:nth-child(5n+4) {
    background: #ef2929;
    border: 1px solid #ef2929; }

  .digg_pagination a {
    text-decoration: none;
    color: #eeeeec;
	background: #555753;
    border: 1px solid #555753; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.blog_header a {
  text-decoration: none;
  color: #eeeeec;
}

.blog_header a .icon {
  transition: color 1s;
}
.blog_header a .text {
  transition: color 0.75s;
}

.d1 { transition-delay: 0.1s; }
.d2 { transition-delay: 0.2s; }
.d3 { transition-delay: 0.3s; }
.d4 { transition-delay: 0.4s; }
.d5 { transition-delay: 0.5s; }
.d6 { transition-delay: 0.6s; }
.d7 { transition-delay: 0.7s; }
.d8 { transition-delay: 0.8s; }
.d9 { transition-delay: 0.9s; }
.d10 { transition-delay: 1.0s; }


.blog_header a:active {
  color: #eeeeec;
}

.blog_header a:visited {
  color: #eeeeec;
}

.blog_header a:hover .pinkit  {
	color: rgb(255, 0, 255);
}
.blog_header a:hover .blueit  {
	color: rgb(0, 255, 255);
}
.blog_header a:hover .yellowit  {
	color: rgb(255, 255, 0);
}

.blog_header .social {
	text-align: center;
}

.blog_header .social .icon, .blog_header .social .text {
	display: block;
	margin-top: 12px;
}

.blog_header .social .icon {
	font-size: 50px;
}

.blog_header {
	text-align: center;
	position: relative;
}

.blog_header .title {
	text-align: left;
}
