body {
  color: #eeeeec;
  background-color: #222;
  font-size: 100%;
}

code {
  background-color: #d3d7cf;
  color: #2e3436;
  border: 1px solid #babdb6;
  padding: 2px;
}

.blog_header {
  margin-top: 16px;
  text-shadow: 0 0 10px #677;
  font-family: 'hyperspacebold';
}


.blog_header h1 {
  font-size: 50px;
  margin: 0;
}

.blog_header .left {
  float: left;
  margin-right: 16px;
}

.blog_header .right {
  float: right;
  margin-left: 16px;
}

.blog_header img {
  height: 100px;
}

.blog_header svg {
	height: 100px;
	width: 100px;
	-webkit-filter: drop-shadow(0 0 10px #677);
	filter: drop-shadow(0 0 10px #677);
}

.blog_header svg path {
	stroke-width: 10px !important;
}

.blog_header .center {
	position: absolute;
	left: 50%;
}

.blog_header .logo {
	margin-left: -50px;
}

#notice {
  padding: 16px;
  background-color: #729fcf;
  margin: 16px 0;
  border-left: 10px solid;
  border-left-color: #d3d7cf;
}

#error_explanation {
  color: #2e3436;
  background-color: #d3d7cf;
  margin: 16px 0;
  padding: 16px;
}

.field_with_errors label
{
  color: #ef2929;
}

.container, .blog_post, #disqus_thread,.blog_pagination {
  color: #333;
  background-color: #ddd;
  padding: 16px;
  margin: 16px 0;
}

.petal {
  border-top: 10px solid;
  border-top-color: #555753;
}
.petal_1 {
  border-top-color: #ef2929; /* red */
}

.petal_2 {
  border-top-color: #fcaf3e; /* orange */
}

.petal_3 {
  border-top-color: #8ae234; /* green */
}

.petal_4 {
  border-top-color: #729fcf; /* blue */
}

.petal_5 {
  border-top-color: #ad7fa8; /* purple */
}

a:link    {color:#3464a4;} /* unvisited link */
a:visited {color:#3464a4;} /* visited link */
a:hover   {color:#3464a4;} /* mouse over link */
a:active  {color:#3464a4;} /* selected link */

.personal_links a:link    {color:#729fcf;} /* unvisited link */
.personal_links a:visited {color:#729fcf;} /* visited link */
.personal_links a:hover   {color:#729fcf;} /* mouse over link */
.personal_links a:active  {color:#729fcf;} /* selected link */

.digg_pagination {
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #eeeeec; }

  .digg_pagination .current:nth-child(5n+0) {
    background: #ad7fa8;
    border: 1px solid #ad7fa8; }
  .digg_pagination .current:nth-child(5n+1) {
    background: #729fcf;
    border: 1px solid #729fcf; }
  .digg_pagination .current:nth-child(5n+2) {
    background: #8ae234;
    border: 1px solid #8ae234; }
  .digg_pagination .current:nth-child(5n+3) {
    background: #fcaf3e;
    border: 1px solid #fcaf3e; }
  .digg_pagination .current:nth-child(5n+4) {
    background: #ef2929;
    border: 1px solid #ef2929; }

  .digg_pagination a {
    text-decoration: none;
    color: #eeeeec;
	background: #555753;
    border: 1px solid #555753; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.blog_header a {
  text-decoration: none;
  color: #eeeeec;
}

.blog_header a:active {
  color: #eeeeec;
}

.blog_header a:visited {
  color: #eeeeec;
}

.blog_header .social {
	text-align: center;
}

.blog_header .social span {
	display: block;
	margin-top: 12px;
}

.blog_header .social .icon {
	font-size: 50px;
}

.blog_header {
	text-align: center;
}

.blog_header .title {
	text-align: left;
}
