body {
  color: #eeeeec;
  background-color: #888a85;
}

code {
  background-color: #d3d7cf;
  color: #2e3436;
  border: 1px solid #babdb6;
  padding: 2px;
}

.blog_header {
  margin-top: 16px;
  text-shadow: 0 1px 5px #666;
}

.blog_header h1 {
  font-size: 50px;
  margin: 0;
}

.blog_header img, .blog_header div {
  float: left;
  margin-right: 16px;
}
.personal_links {
  color: #eeeeec;
  background-color: #555753;
  padding: 16px;
  margin: 16px 0;
}

.blog_post, #disqus_thread,.blog_pagination {
  color: black;
  background-color: #eeeeec;
  padding: 16px;
  margin: 16px 0;
}

.petal {
  border-top: 10px solid;
}
.petal_1 {
  border-top-color: #DD191B; /* red */
}

.petal_2 {
  border-top-color: #F4A210; /* orange */
}

.petal_3 {
  border-top-color: #87E100; /* green */
}

.petal_4 {
  border-top-color: #638BC9; /* blue */
}

.petal_5 {
  border-top-color: #98699B; /* purple */
}

a:link    {color:#3464a4;} /* unvisited link */
a:visited {color:#3464a4;} /* visited link */
a:hover   {color:#3464a4;} /* mouse over link */
a:active  {color:#3464a4;} /* selected link */

.personal_links a:link    {color:#729fcf;} /* unvisited link */
.personal_links a:visited {color:#729fcf;} /* visited link */
.personal_links a:hover   {color:#729fcf;} /* mouse over link */
.personal_links a:active  {color:#729fcf;} /* selected link */
