.grid_6.alpha
  .container.petal
    hi im a cat
.grid_6.omega
  .container.petal
    hi im a dog
.clear

.grid_6.alpha
  .container.petal
    hi im a catfish
.grid_6.omega
  .container.petal
    hi im a dogfish
.clear
