- @projects.each_with_index do |project, index|
  - if index.even?
    .grid_6.alpha
      .container
        .project
          cat
  - else
    .grid_6.omega
      .container
        .project
          dog
    .clear
