.personal_links
  %p
    Hi! My name is Kevin Alford and here you will find my ramblings on code, electronic music, robotics, and just about anything inbetween.
  %ul
    %li
      %strong= link_to 'My resume', "/Kevin Alford - resume.pdf"
    %li
      %strong= link_to 'My github', "http://github.com/zeroeth"
    %li
      %strong= link_to 'My twitter', "http://twitter.com/kevinalford"
