.blog_header
  .center.logo
    = render 'layouts/hex_vector'
  .left.title
    %h1 Pixelflow
    .text
      An Intergalactic Discourse
  .right.social
    = link_to laboratory_path do
      <span class="icon icon-flask blueit"></span><span class="text blueit"><span class="d1">L</span><span class="d2">a</span><span class="d3">b</span><span class="d4">o</span><span class="d5">r</span><span class="d6">a</span><span class="d7">t</span><span class="d8">o</span><span class="d9">r</span><span class="d10">y</span></span>
  .right.social
    = link_to blog_posts_path do
      <span class="icon icon-bulb yellowit"></span><span class="text yellowit"><span class="d1">A</span><span class="d2">r</span><span class="d3">t</span><span class="d4">i</span><span class="d5">c</span><span class="d6">l</span><span class="d7">e</span><span class="d8">s</span></span>
  .right.social
    = link_to portfolio_path do
      <span class="icon icon-ruby pinkit"></span><span class="text pinkit"><span class="d1">P</span><span class="d2">r</span><span class="d3">o</span><span class="d4">j</span><span class="d5">e</span><span class="d6">c</span><span class="d7">t</span><span class="d8">s</span>
      </span>
  .clear
