.blog_header
  .center.logo
    = render 'layouts/hex_vector'
  .left.title
    %h1 Pixelflow
    .text
      An Intergalactic Discourse
  .right.social
    = link_to 'Kevin Alford 2015 CV.pdf' do
      <span class="icon icon-ruby"></span><span class="text">CV</span>
  .right.social
    = link_to blog_posts_path do
      <span class="icon icon-bulb"></span><span class="text">Articles</span>
  .right.social
    = link_to portfolio_path do
      <span class="icon icon-flask"></span><span class="text">Projects</span>
